/* General */
html, body {
    overflow: hidden;
}
body {
    margin: 0px;
}
body::-webkit-scrollbar {
    display: none;
}
button.button {
    color: #f7f7f7;
    padding: 10px;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    background-color: #92C800;
    border: 1px solid transparent;
    border-radius: 5px;
}
button.button:hover {
    cursor: pointer;
}
h1.general {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    color: #808080;
}
h2.general {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    color: #808080;
}
h3.general {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: #808080;
}
span.data {
    font-style: italic;
    color: #92C800;
}

/* Login form */

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
#login .login-intro {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: end;
    width: 100%;
    height: 40vh;
    background-image: url("/assets/images/backgrounds/flower-dark.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#login .login-intro .login-message {
    margin: 0px 0px 0px 40px;
    width: 50%;
}
#login .login-intro h1 {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    color: #f7f7f7;
}
#login .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 60vh;
    background-color: #f7f7f7;
}
#login .login-container form {
    margin-top: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
}
#login .login-container form div {
    padding: 10px;
}
#login .login-container form div input {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    padding: 5px;
    color: black;
    border: black;
    background-color: transparent;
    border-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #c5c5c5;
    transition: .4s ease-in-out;
}
#login .login-container form div input:focus {
    outline: none;
    border: 1px solid #92C800;
    border-radius: 5px;
}
/* 92C800 login button accent color */

#panel {
    margin-left: 15px;
}
#panel .data-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#panel .data-container div.general-data div.data-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
#panel .data-container div.general-data div.data-list-item button {
    margin-left: 20px;
}

#panel .data-container div.count-data {
    width: 100%;
    height: 43vh;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#panel .data-container div.count-data::-webkit-scrollbar {
    display: none;
}

#panel .data-container div.count-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
